<section class="section">
  <div class="p-10 shadow-md shadow-[#c85e5e] mx-auto rounded-lg">
    <div class="img w-[300px] mx-auto">
      <img class="w-full" src="/Img/duck-removebg-preview.png" alt="duck" />
    </div>
    <h1 class="font-medium text-3xl text-center text-black">
      {{ "auth.reset_password" | translate }}
    </h1>
    @if (step==1) {

    <form [formGroup]="verify_email" (ngSubmit)="verifyemail()">
      <div class="my-10">
        @let emailControl=verify_email.get('email');
        <label for="email" class="label">{{ "auth.email" | translate }}:</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="input w-[50%]"
          placeholder="type ur email"
        />
        @if(emailControl?.errors && emailControl?.touched){
        <div
          class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
          role="alert"
        >
          <div>
            @if(emailControl?.getError('required')){
            <p class="text-[16px] text-red-700">
              {{ "auth.required" | translate }}
            </p>
            }
          </div>
        </div>
        }

        <div class="text-center">
          <button
            [disabled]="verify_email.invalid || statue"
            type="submit"
            class="btn"
          >
            {{ "auth.send_code" | translate }}
          </button>
        </div>
        @if (statue) {
        <p class="text-[16px] text-red-700">{{ statue }}</p>
        }
      </div>
    </form>

    } @else if(step==2) {

    <form [formGroup]="verify_code" (ngSubmit)="verifyCode()">
      <div class="my-10">
        @let codeControl=verify_code.get('resetCode');
        <label for="resetCode" class="label"
          >{{ "auth.reset_code" | translate }} :</label
        >
        <input
          formControlName="resetCode"
          type="resetCode"
          id="resetCode"
          class="input w-[50%]"
          placeholder="type ur resetCode"
        />
        @if(codeControl?.errors && codeControl?.touched){
        <div
          class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
          role="alert"
        ></div>

        }
        <div class="text-center">
          <button type="submit" class="btn">
            {{ "auth.send_code" | translate }}
          </button>
        </div>
      </div>
    </form>

    } @else if (step==3) {

    <form [formGroup]="reset_password" (ngSubmit)="resetPassword()">
      <div class="my-10">
        <label for="email" class="label">{{ "auth.email" | translate }}:</label>
        <input
          readonly
          formControlName="email"
          type="email"
          id="email"
          class="input w-[50%]"
          placeholder="type ur email"
        />
      </div>

      <div class="my-10 relative">
        @let password=reset_password.get('newPassword');
        <label for="newPassword" class="label"
          >{{ "auth.newPassword" | translate }}:</label
        >
        <div class="flex items-center relative">
          <input
            formControlName="newPassword"
            type="password"
            id="newPassword"
            class="input w-[50%]"
            placeholder="type ur password"
          />
          <div
            class="absolute end-2.5 top-1/2 -translate-y-1/2"
            title="passshow"
            appChangetypepass
          >
            <i class="fa-regular fa-eye text-black cursor-pointer"></i>
          </div>
        </div>
        @if(password?.errors && password?.touched){
        <div
          class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
          role="alert"
        >
          <div>
            @if(password?.getError('required')){
            <p class="text-[16px] text-red-700">
              {{ "auth.required" | translate }}
            </p>
            } @else if (password?.getError('pattern')) {
            <p class="text-[16px] text-red-700">
              {{ "auth.valid_pass" | translate }}
            </p>
            }
          </div>
        </div>
        }

        <div class="text-center">
          <button [disabled]="reset_password.invalid" type="submit" class="btn">
            {{ "auth.reset_password" | translate }}
          </button>
        </div>
      </div>
    </form>
    }
  </div>
</section>
