<section class="section">
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 rounded-lg gap-3 p-5 shadow-md shadow-[#c85e5e]"
  >
    <div>
      <img class="w-full rounded-lg" src="/Img/cm.png" alt="login" />
    </div>

    <div class="form rounded-lg p-3 py-3">
      <h1 class="font-medium text-3xl text-center text-black">
        {{ "auth.login_now" | translate }}
      </h1>
      <form [formGroup]="login" (ngSubmit)="submitForm()">
        <div class="my-10">
          @let emailControl=login.get('email');
          <label for="email" class="label"
            >{{ "auth.email" | translate }} :</label
          >
          <input
            formControlName="email"
            type="email"
            id="email"
            class="input"
            placeholder="type ur email"
          />
          @if(emailControl?.errors && emailControl?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if(emailControl?.getError('required')){
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (emailControl?.getError('email')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.valid_email" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-10 relative">
          @let password=login.get('password');
          <label for="password" class="label">
            {{ "auth.password" | translate }}:</label
          >
          <div class="flex items-center relative">
            <input
              formControlName="password"
              type="password"
              id="password"
              class="input w-full"
              placeholder="type ur password"
            />
            <div
              class="absolute end-2.5 top-1/2 -translate-y-1/2"
              title="passshow"
              appChangetypepass
            >
              <i class="fa-regular fa-eye text-black cursor-pointer"></i>
            </div>
          </div>
          @if(password?.errors && password?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if(password?.getError('required')){
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (password?.getError('pattern')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.valid_pass" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>

        <div class="text-center my-10">
          <div class="mb-5">
            <a
              routerLink="/forgetpassword"
              class="text-black hover:text-[#c85e5e]"
              >{{ "auth.forgot_password" | translate }}
            </a>
          </div>
          <button [disabled]="isLoading" type="submit" class="btn btn-primary">
            {{ "auth.sign_in" | translate }}@if(isLoading){
            <span><i class="fas fa-spin fa-spinner text-white"></i> </span>}
          </button>
        </div>

        @if (errormsg){
        <p class="text-[16px] text-red-800 text-center">{{ errormsg }}</p>
        }@else {

        <p class="text-[16px] text-green-800 text-center">{{ successmsg }}</p>
        }
      </form>
    </div>
  </div>
</section>
