<section class="section">
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 rounded-lg gap-3 p-5 shadow-md shadow-[#c85e5e]"
  >
    <div>
      <img class="w-full rounded-lg" src="/Img/logints.png" alt="signup" />
    </div>
    <div class="rounded-lg p-3 py-3">
      <h1 class="font-medium text-3xl text-center text-gray-800">
        {{ "auth.register" | translate }}
      </h1>
      <form [formGroup]="register" (ngSubmit)="submitForm()">
        <div class="my-6">
          @let namecontrol= register.get('name');

          <label for="name" class="label"
            >{{ "auth.name" | translate }} :</label
          >
          <input
            formControlName="name"
            type="text"
            id="name"
            class="input"
            placeholder="type ur name"
          />
          <!-- alert -->
          @if(namecontrol?.errors && namecontrol?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if(namecontrol?.getError('required')){
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (namecontrol?.getError('minlength') ||
              namecontrol?.getError('maxlength')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.name_valid" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-6">
          @let emailControl=register.get('email');
          <label for="email" class="label"
            >{{ "auth.email" | translate }}:</label
          >
          <input
            formControlName="email"
            type="email"
            id="email"
            class="input"
            placeholder="type ur email"
          />
          @if(emailControl?.errors && emailControl?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if(emailControl?.getError('required')){
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (emailControl?.getError('email')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.valid_email" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-6 relative">
          @let password = register.get('password');
          <label for="password" class="label">
            {{ "auth.password" | translate }}:
          </label>
          <div class="relative flex items-center">
            <input
              formControlName="password"
              type="password"
              id="password"
              class="input w-full"
              placeholder="type your password"
            />
            <div
              class="absolute end-2.5 top-1/2 -translate-y-1/2"
              title="passshow"
              appChangetypepass
            >
              <i class="fa-regular fa-eye text-black cursor-pointer"></i>
            </div>
          </div>
          @if (password?.errors && password?.touched) {
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if (password?.getError('required')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (password?.getError('pattern')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.valid_pass" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>

        <div class="my-6 relative">
          @let repassword = register.get('rePassword');
          <label for="repassword" class="label">
            {{ "auth.rePassword" | translate }} :
          </label>
          <div class="flex items-center relative">
            <input
              formControlName="rePassword"
              type="password"
              id="repassword"
              class="input w-full"
              placeholder="type your re-password"
            />
            <div
              class="absolute end-2.5 top-1/2 -translate-y-1/2"
              title="passshow"
              appChangetypepass
            >
              <i class="fa-regular fa-eye text-black cursor-pointer"></i>
            </div>
          </div>

          @if (repassword?.getError('required') && repassword?.touched) {
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
            </div>
          </div>
          } @else if (register.getError('mismatch') && repassword?.touched) {
          <p class="text-[16px] text-red-700">
            {{ "auth.mismatch" | translate }}
          </p>
          }
        </div>

        <div class="my-6">
          @let phone =register.get('phone');
          <label for="phone" class="label"
            >{{ "auth.phone" | translate }}:</label
          >
          <input
            formControlName="phone"
            type="tel"
            id="phone"
            class="input"
            placeholder="type ur phone"
          />
          @if(phone?.errors && phone?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400"
            role="alert"
          >
            <div>
              @if(phone?.getError('required')){
              <p class="text-[16px] text-red-700">
                {{ "auth.required" | translate }}
              </p>
              } @else if (phone?.getError('pattern')) {
              <p class="text-[16px] text-red-700">
                {{ "auth.num_valid" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="text-center">
          <button [disabled]="isLoading" type="submit" class="btn">
            {{ "auth.sign_up" | translate }} @if(isLoading){
            <span><i class="fas fa-spin fa-spinner text-white"></i> </span>}
          </button>
          <div class="mb-2">
            <a routerLink="/login" class="text-gray-900 hover:text-[#c85e5e]"
              >{{ "auth.already_have_account" | translate }}
            </a>
          </div>
        </div>
        @if (successmsg) {

        <p class="text-[16px] text-green-800 text-center">{{ successmsg }}</p>
        }
      </form>
    </div>
  </div>
</section>
