<section class="section">
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 rounded-lg gap-3 p-5 shadow-lg shadow-purple-800"
  >
    <div>
      <img class="w-full rounded-lg" src="/Img/logints.png" alt="signup" />
    </div>
    <div class="rounded-lg p-3 py-3">
      <h1 class="font-medium text-3xl text-center text-purple-800">
        {{ "auth.register" | translate }}
      </h1>
      <form [formGroup]="register" (ngSubmit)="submitForm()">
        <div class="my-6">
          @let namecontrol= register.get('name');

          <label for="name" class="label"
            >{{ "auth.name" | translate }} :</label
          >
          <input
            formControlName="name"
            type="text"
            id="name"
            class="input"
            placeholder="type ur name"
          />
          <!-- alert -->
          @if(namecontrol?.errors && namecontrol?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-purple-800 border border-purple-300 rounded-lg bg-purple-50 dark:text-purple-400"
            role="alert"
          >
            <div>
              @if(namecontrol?.getError('requipurple')){
              <p class="text-[16px] text-purple-700">
                {{ "auth.requipurple" | translate }}
              </p>
              } @else if (namecontrol?.getError('minlength') ||
              namecontrol?.getError('maxlength')) {
              <p class="text-[16px] text-purple-700">
                {{ "auth.name_valid" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-6">
          @let emailControl=register.get('email');
          <label for="email" class="label"
            >{{ "auth.email" | translate }}:</label
          >
          <input
            formControlName="email"
            type="email"
            id="email"
            class="input"
            placeholder="type ur email"
          />
          @if(emailControl?.errors && emailControl?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-purple-800 border border-purple-300 rounded-lg bg-purple-50 dark:text-purple-400"
            role="alert"
          >
            <div>
              @if(emailControl?.getError('requipurple')){
              <p class="text-[16px] text-purple-700">
                {{ "auth.requipurple" | translate }}
              </p>
              } @else if (emailControl?.getError('email')) {
              <p class="text-[16px] text-purple-700">
                {{ "auth.valid_email" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-6 relative">
          @let password=register.get('password');
          <label for="password" class="label"
            >{{ "auth.password" | translate }}:</label
          >
          <input
            formControlName="password"
            type="password"
            id="password"
            class="input"
            placeholder="type ur password"
          />
          <div
            class="absolute end-2.5 bottom-2.5"
            title="passshow"
            appChangetypepass
          >
            <i class="fa-regular fa-eye text-purple-700 cursor-pointer"></i>
          </div>
          @if(password?.errors && password?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-purple-800 border border-purple-300 rounded-lg bg-purple-50 dark:text-purple-400"
            role="alert"
          >
            <div>
              @if(password?.getError('requipurple')){
              <p class="text-[16px] text-purple-700">
                {{ "auth.requipurple" | translate }}
              </p>
              } @else if (password?.getError('pattern')) {
              <p class="text-[16px] text-purple-700">
                {{ "auth.valid_pass" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="my-6 relative">
          @let repassword=register.get('rePassword');
          <label for="repassword" class="label"
            >{{ "auth.rePassword" | translate }} :</label
          >
          <input
            formControlName="rePassword"
            type="password"
            id="repassword"
            class="input"
            placeholder="type ur repassword"
          />
          <div
            class="absolute end-2.5 bottom-2.5"
            title="passshow"
            appChangetypepass
          >
            <i class="fa-regular fa-eye text-purple-700 cursor-pointer"></i>
          </div>

          @if(repassword?.getError('requipurple') && repassword?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-purple-800 border border-purple-300 rounded-lg bg-purple-50 dark:text-purple-400"
            role="alert"
          >
            <div>
              <p class="text-[16px] text-purple-700">
                {{ "auth.requipurple" | translate }}
              </p>
            </div>
          </div>
          } @else if(register.getError('mismatch') && repassword?.touched){

          <p class="text-[16px] text-purple-700">
            {{ "auth.mismatch" | translate }}
          </p>

          }
        </div>
        <div class="my-6">
          @let phone =register.get('phone');
          <label for="phone" class="label"
            >{{ "auth.phone" | translate }}:</label
          >
          <input
            formControlName="phone"
            type="tel"
            id="phone"
            class="input"
            placeholder="type ur phone"
          />
          @if(phone?.errors && phone?.touched){
          <div
            class="my-3 flex items-center p-2 mb-4 text-sm text-purple-800 border border-purple-300 rounded-lg bg-purple-50 dark:text-purple-400"
            role="alert"
          >
            <div>
              @if(phone?.getError('requipurple')){
              <p class="text-[16px] text-purple-700">
                {{ "auth.requipurple" | translate }}
              </p>
              } @else if (phone?.getError('pattern')) {
              <p class="text-[16px] text-purple-700">
                {{ "auth.num_valid" | translate }}
              </p>
              }
            </div>
          </div>
          }
        </div>
        <div class="text-center">
          <button [disabled]="isLoading" type="submit" class="btn">
            {{ "auth.sign_up" | translate }} @if(isLoading){
            <span><i class="fas fa-spin fa-spinner text-white"></i> </span>}
          </button>
          <div class="mb-2">
            <a routerLink="/login" class="text-purple-900 hover:text-purple-500"
              >{{ "auth.already_have_account" | translate }}
            </a>
          </div>
        </div>
        @if (successmsg) {

        <p class="text-[16px] text-green-800 text-center">{{ successmsg }}</p>
        }
      </form>
    </div>
  </div>
</section>
