<section class="section">
  <div class="title">
    <h1>
      {{ "home.show_our" | translate }}
      <span>{{ "home.category" | translate }} </span>
    </h1>
  </div>
  <div class="responsive">
    @for (catitems of categoryitem() ; track catitems._id) {
    <div
      class="item relative overflow-hidden shadow-lg group rounded-md border border-amber-700"
    >
      <div class="img">
        <img
          class="w-full object-contain h-60"
          [src]="catitems.image"
          [alt]="catitems.slug"
        />
      </div>
      <div
        class="layer flex justify-center items-center absolute top-[150%] bottom-0 start-0 end-0 bg-white/90 text-center transition-all duration-500 ease-linear group-hover:top-0"
      >
        <h2 class="text-xl font-semibold text-amber-800 capitalize">
          {{ catitems.name }}
        </h2>
      </div>
    </div>
    }
  </div>
</section>
