<footer
  class="bg-white rounded-lg shadow-sm dark:bg-black p-4 text-black dark:text-white"
>
  <div class="w-full max-w-screen-xl mx-auto p-2 md:py-2">
    <div class="sm:flex sm:items-center mx-5 sm:justify-between">
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-black sm:mb-0 dark:text-white"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">
            {{ "footer.resources" | translate }}</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">{{
            "footer.privacy_policy" | translate
          }}</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">
            {{ "footer.legal" | translate }}</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline">
            {{ "footer.contact_us" | translate }}</a
          >
        </li>
      </ul>
      <div class="imgget">
        <div class="flex mt-5 gap-x-4">
          <h1>Get Bazaar App</h1>
          <div>
            <img class="w-20" src="/Img/get-apple-store.png" alt="img" />
          </div>

          <div>
            <img class="w-20" src="/Img/get-google-play.png" alt="img" />
          </div>
        </div>
        <div class="flex mt-5 gap-x-4 items-center">
          <h1 class="capitalize">can payment by</h1>
          <div>
            <img class="w-10" src="/Img/American-Express-Color.png" alt="img" />
          </div>

          <div>
            <img class="w-10" src="/Img/paypal.png" alt="img" />
          </div>
          <div>
            <img class="w-10" src="/Img/mastercard.webp" alt="img" />
          </div>
        </div>
      </div>
    </div>

    <hr class="my-6 border-black sm:mx-auto dark:border-white lg:my-8" />
    <div class="text-center">
      <p class="text-md text-center dark:text-white capitalize">
        created by <span class="text-[#6c1616]">haidy mekawy</span> in © 2025
      </p>
    </div>
  </div>
</footer>
