@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "ngx-toastr/toastr";

.btn {
  @apply bg-black border-0 rounded-lg text-white px-6 py-2 hover:bg-black transition-all duration-300 my-3;
}
.label {
  @apply block mb-2 text-[16px]   text-black;
}
.input {
  @apply text-black bg-gray-50 border border-gray-300  text-sm rounded-lg focus:ring-black  focus:border-black focus:shadow-sm  w-full p-2.5;
}
.links {
  @apply block py-2 px-3  text-black md:p-0 md:hover:scale-125 transition-all ease-linear duration-75 sm:hover:scale-100;
}
.lang {
  background: #bf6161;
  color: rgb(244, 238, 238);
  margin: 0 5px;
  @apply rounded-md;
}
.title {
  @apply capitalize text-center mb-10 leading-tight text-3xl  text-black  font-semibold  shadow-lg p-5 mx-10 rounded-lg;
}
.cards {
  .cartadd {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    .cartadd {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@media (prefers-color-scheme: light) {
}
span {
  @apply text-red-800;
}
.section {
  @apply container capitalize text-black my-10 rounded-md  shadow-md px-10 py-5;
}
.activelink {
  @apply text-white px-2 rounded-lg md:scale-125 transition-all duration-100 ease-linear sm:scale-100;
}
.responsive {
  @apply grid  grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-7 p-5;
}
.arsenal {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}
.main-color {
  color: #c85e5e;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #c85e5e;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.toast-container .ngx-toastr {
  border-radius: 8px;

  padding: 12px 16px;
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}

.toast-success {
  background-color: #fafbfa !important;
  border-left: 5px solid #28a745 !important;
  color: #155724 !important;
}

.toast-error {
  background-color: #f8f8f8 !important;
  border-left: 5px solid #dc3545 !important;
  color: #721c24 !important;
}
.toast-success::before {
  content: "✔️";
  color: #28a745;
}

.toast-error::before {
  content: "❌";
  color: #dc3545;
}
